<!DOCTYPE html>

<html lang = "eng">
	<head>
		<title> TinyApp </title>
	</head>

	<body>
		<%- include partials/_header.js %>
		<ul>
			<li> ******************** : Lighthouse Labs </li>
			<li> ******************** : Google </li>
		</ul>

		<a href = "/urls/b2xVn2"> Actual link: Lighthouse Labs </a><br>
		<a href = "/urls/9sm5xk"> Actual link: Google </a>
	</body>
</html>