<!DOCTYPE html>

<html lang = "eng">
	<head>
		<title> TinyApp </title>
	</head>

	<body>
		<%- include partials/_header.js %>
		<ul>
			<li><a href = "http://www.lighthouselabs.ca"> Lighthouse Labs</a></li>
			<li><a href = "http://www.google.com"> Google </a></li>
		</ul>
	</body>
</html>